<h1>Pokemons</h1>

<%= link_to "Abilities", abilities_path %>
<br>
<%= link_to "Types", types_path %>

<% @pokemons.each do |pokemon| %>
    <label>
        <%= pokemon.name %>
    </label>
    <ul>
    <%= link_to pokemon.name, pokemon %>
    <%= image_tag pokemon.url %>
    </ul>
<% end %>

<%= paginate @pokemons %>