<h1><%= @pokemon.name %></h1>

<%= link_to "Back", "/" %>

<p><%= @pokemon.height %></p>
<p><%= @pokemon.weight %></p>
<p><%= @pokemon.color %></p>
<p><%= @pokemon.evolves_from %></p>
<p><%= @pokemon.generation %></p>

<p>

Pokemon Types:
</br>
</br>
<% @pokemon.types.each do |poke_type| %>
    <label><%= poke_type.name %></label>
    </br>
    <% end %>

</br>
</br>
</br>

Pokemon Abilities:
</br>
</br>
<% @pokemon.abilities.each do |poke_abs| %>
    <label><%= poke_abs.name %></label>
    </br>
    <label><%= poke_abs.description %></label>
    </br>
    </br>
    <% end %>

</p>