<header>

    <div class='container'>

        <nav>
            <ul>
            <li><%= link_to "Pokemon", "/" %></li>            
            <li><%= link_to "Abilities", abilities_path %></li>
            <li><%= link_to "Types", types_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
        </nav>

    </div>

</header>